<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345768059760-2it87tcei0f3vo0qj91nhecqaj99k8h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345768059760-2it87tcei0f3vo0qj91nhecqaj99k8h8</string>
	<key>API_KEY</key>
	<string>AIzaSyCqMv2eazl_ly3F5PVn5pkzvZKWWE6ugwc</string>
	<key>GCM_SENDER_ID</key>
	<string>345768059760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JordanKlein.Finance</string>
	<key>PROJECT_ID</key>
	<string>financecalculator-930fa</string>
	<key>STORAGE_BUCKET</key>
	<string>financecalculator-930fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345768059760:ios:94cd0e5de8b10e309465b5</string>
</dict>
</plist>